@import "fonts.scss";

// app global css in SCSS form
.font-play-ball {
  font-family: 'font-play-ball', sans-serif;
}

.font-metal-mania {
  font-family: 'font-metal-mania', sans-serif;
}

.font-bayon {
  font-family: 'font-bayon', sans-serif;
}

.font-bokor {
  font-family: 'font-bokor', sans-serif;
}

.font-kdam-thmor {
  font-family: 'font-kdam-thmor', sans-serif;
}

.font-koulen {
  font-family: 'font-koulen', sans-serif;
}

.font-nosifer {
  font-family: 'font-nosifer', sans-serif;
}

.font-preahvihear {
  font-family: 'font-preahvihear', sans-serif;
}
