//Import fonts file
@font-face {
  font-family: font-play-ball;
  src: url(./fonts/Playball/Playball-Regular.ttf);
}
@font-face {
  font-family: font-metal-mania;
  src: url(./fonts/Metal_Mania/MetalMania-Regular.ttf);
}
@font-face {
  font-family: font-bayon;
  src: url(./fonts/Bayon/Bayon-Regular.ttf);
}
@font-face {
  font-family: font-bokor;
  src: url(./fonts/Bokor/Bokor-Regular.ttf);
}
@font-face {
  font-family: font-kdam-thmor;
  src: url(./fonts/Kdam_Thmor/KdamThmor-Regular.ttf);
}
@font-face {
  font-family: font-koulen;
  src: url(./fonts/Koulen/Koulen-Regular.ttf);
}
@font-face {
  font-family: font-nosifer;
  src: url(./fonts/Nosifer/Nosifer-Regular.ttf);
}
@font-face {
  font-family: font-preahvihear;
  src: url(./fonts/Preahvihear/Preahvihear-Regular.ttf);
}

